body {
    font-family: Verdana, Tahoma, "sans-serif";
    font-size: 8pt;
    background-image: url("images/background.png");
    background-attachment: fixed;
    margin:0; 
    padding:0;
}

div.banner {
    background-image: url("images/bannerbg.png");
}

#bannerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1 {
    font-family: Tahoma, Verdana, "sans-serif";
    font-size: 24pt;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

div.outer {
    position: relative;
    margin: auto;
    width: 800px;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
}

#rottenbig {
    height: 83px;
}

div.reviews {
    width: 550px;
}

div.reviewHeader {
    background-image: url("images/rbg.png");
    width: 550px;
}

div.reviewHeader > span {
    font-size: 48pt;
    color: red;
    font-weight: bold;
}

div.reviewParagraph {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
}

div.users > span {
    font-style: italic;
}

div.floated {
    float: left;
    margin-right: 5px;
}

div.row {
    box-sizing: border-box;
    display: flex;
}

div.column {
    box-sizing: border-box;
    flex: 50%;
    width: 47%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

div.overview {
    position: absolute;
    right: 0;
    width: 250px;
    background-color: #A2B964;
    margin-left: 10pt;
    font-family: Arial, "sans-serif";
    font-size: 8pt;
}

dl.defList {
    margin-left: 10pt;
    margin-right: 10pt;
}

dt.listTitles {
    margin-top: 10pt;
    font-weight: bold;
}

ul.linkList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p.lastParagraph {
    background-color: #A2B964;
    clear: right;
    padding: 5px;
}

div.validators {
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 50%;
}