body {
    background-color: white;
}

#inner1, #inner2 {
    list-style-type: circle;
}

#commentList {
    list-style-type: none;
}

div {
    background-color: #FFFFA8;
    font-style: italic;
}

a.link {
    color: #A4A400;
}