body {
    background-color: white;
    color: #404040;
    font-family: Georgia, Garamond, "sans-serif";
    font-size: 11pt;
    background-image: url('https://yonasyiheyis.github.io/silverware.jpg');
    background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, "sans-serif";
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 22pt;
}

#list1, #list2, #list3 {
    list-style-image: url('https://yonasyiheyis.github.io/pie_icon.gif');
}

#commentList {
    list-style-type: none;
}

div {
    background-color: #FFFFA8;
    font-style: italic;
}

a.link {
    color: #A4A400;
}

p.last {
    text-align: right;
    font-family: monospace;
}