body {
    background-color: #5F4B8BFF;
}
  
h1, h2, h3, h4, h5 {
    color: #E69A8DFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
  
p {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a{
    color: orangered;
}